@import "tailwindcss";

@font-face {
  font-family: DigiPixel;
  src: url("/fonts/Pixel\ Digivolve.otf") format("opentype");
  font-weight: 100 900; /* supports variable weights if available */
  font-style: normal;
  font-display: swap;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, DigiPixel;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    DigiPixel, monospace;
}

@theme {
  --color-text: hsl(249, 6%, 24%);
  --color-background: hsl(0, 0%, 98%);
  --color-primary: hsl(196, 64%, 45%);
  --color-secondary: hsl(96, 21%, 31%);
  --color-accent: hsl(10, 42%, 42%);
}